<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat DA Burger</title>
    <link rel="icon" href="../public/assets/img/Krabby_Patty.png">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-3">EAT Da Bugers</h1>
        <h2 class="display-3">All you can eat!!!</h2>
        <img id="hero" src="../public/assets/img/burger-hero.jpg">

    </div>

    <div class="container">
        <div class="row">
            <!--Beginning of left side-->
            <div class="col-md-6">
                <h2> Eat UP!</h2>
                <div id="eat-up">
                    <!-- Dynamically Insert Ready Burgers Here -->
                    <div class="input-group">
                        <li class="form-control">1. Bob's Burger</li>
                        <span class="input-group-btn devour-button">
                            <button class="btn btn-success" type="button">Devour It!</button>
                        </span>
                    </div>

                    <div class="input-group">
                        <li class="form-control">2. Good Burger</li>
                        <span class="input-group-btn devour-button">
                            <button class="btn btn-success" type="button">Devour It!</button>
                        </span>
                    </div>

                </div>
                <!--end of eat up div -->

            </div>
            <!--end of left side-->
            <!--Beginning of right side-->
            <div class="col-md-6">
                <h2>Those were so YUMMY to EAT!</h2>
                <div id="eaten">

                    <!-- Dynamically Insert Eaten Burgers Here -->
                    <div class="input-group">
                        <li class="form-control">3. Krabby Patty</li>
                        <span class="input-group-btn whine-button">
                            <button class="btn btn-info" type="button">Delete</button>
                        </span>
                    </div>

                    <div class="input-group">
                        <li class="form-control">4. Big Mac</li>
                        <span class="input-group-btn whine-button">
                            <button class="btn btn-info" type="button">Delete</button>
                        </span>
                    </div>
                </div>
                <!--end of eaten div-->
            </div>
            <!--end of right side-->

        </div>
        <!--end of row-->

        <!-- Beginning of order -->
        <div class="row">
            <!-- Empty Div to help center textarea -->
            <div class="col-md-3"></div>
            <div class="col-md-6 form-group">

                <h2>Place a new burger order!</h2>

                <textarea class="form-control" columns="3" rows="4" id="new-burger"></textarea>
                <button id="submit-button" type="button" class="btn btn-danger">Place Order</button>

            </div>
            <!-- Empty Div to help center textarea -->
            <div class="col-md-3"></div>
        </div>
        <!--end of order-->
    </div>
    <!--end of container -->


</body>

</html>